<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletPratice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.test.section1And2.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/TomcatTest/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.test.section1And2.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/TomcatTest/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Top10Servlet</servlet-name>
    <servlet-class>com.test.section1And2.Top10Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top10Servlet</servlet-name>
    <url-pattern>/TomcatTest/Top10Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.test.section1And2.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/editCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/updateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreferenceServlet</servlet-name>
    <servlet-class>com.test.section1And2.PreferenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreferenceServlet</servlet-name>
    <url-pattern>/preference</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieClassServlet</servlet-name>
    <servlet-class>com.test.section1And2.CookieClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieClassServlet</servlet-name>
    <url-pattern>/cookieClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieInfoServlet</servlet-name>
    <servlet-class>com.test.section1And2.CookieInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieInfoServlet</servlet-name>
    <url-pattern>/cookieInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>com.test.section1And2.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/viewProductDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/viewCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.test.section4.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>BooksServlet</servlet-name>
    <servlet-class>com.test.section5.BooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksServlet</servlet-name>
    <url-pattern>/books</url-pattern>
  </servlet-mapping>
</web-app>